<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Database sample</title>
</head>
<body>
    <h2>Database sample 1</h2>
    <form action="/insert" method="POST">
        <input type="text" name="empId" >
        <input type="text" name="empName">
        <input type="text" name="dept">
        <input type="text" name="sal">
        <input type="text" name="loc">
    <input type="submit" value="Insert">
    </form>
</body>
</html>