<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <h1>login</h1>
    <form action="/" method="post">
    <p>Name : <input type="text" name="username"></p>
    <p>password : <input type="password" name="pass"></p>
    <p><input type="submit" value=login name="login"></p>
    </form>
    <h1>Register</h1>
    <form action="/register" method="post">
    <p>Name : <input type="text" name="name"></p>
    <p>Email : <input type="text" name="email"></p>
    <p>Username : <input type="text" name="username"></p>
    <p>password : <input type="password" name="pass"></p>
    <p><input type="submit" value="Signup" name="login"></p>
    </form>
</body>
</html>