<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <title>Add Book details</title>
</head>
<body>
    <div class="container">
        <div class="row">
                <form>
                    <div class="form-group">
                        <label for="bookId">Book ID</label>
                        <input type="text" class="form-control" name="bookId" id="bookId" placeholder="Enter Book ID">
                    </div>
                    <div class="form-group">
                        <label for="bookName">Book Name</label>
                        <input type="text" class="form-control" name="bookName" id="bookName" placeholder="Enter Book Name">
                    </div>
                    <div class="form-group">
                        <label for="bookAuthor">Auther</label>
                        <input type="text" class="form-control" name="bookAuthor" id="bookAuthor" placeholder="Author">
                    </div>
                    <div class="form-group">
                        <label for="bookPrice">Price</label>
                        <input type="text" class="form-control" name="bookPrice" id="bookPrice" placeholder="Enter Book ID">
                    </div>
                
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
        </div>
     </div>
</body>
</html>