<form action="/add" method="POST">
    <p>Book ID: <input  type="text" name="bookId"></p>
    <p>Book Name: <input  type="text" name="bookName"></p>
    <p>Book Price: <input  type="text" name="bookPrice"></p>
<input type="submit">
</form>
