<p><a href="/add">add?</a>
<p><a href="/delete">Delete?</a>
<p><a href="/view">View?</a>
<p><a href="/update">Update?</a>

    <form action="fileUpload" enctype="multipart/form-data" method="POST">
     <input type="file" name="sampleFile">
     <input type="submit" value="upload">
    </form>