<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>sl No</th>
            <th>name</th>
            <th>Salary</th>
        </tr>
        
           <% for (var i=0;i<data.length;i++){ %>
                <tr>
                    <td><%= (i+1) %></td>
                    <td><%= data[i].empName %></td>
                    <td><%= data[i].sal %></td>
                </tr>
            <% } %>
           
           
    </table>
</body>
</html>