<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="/insert" method="POST" enctype="multipart/form-data">
            <p>Book ID: <input  type="text" name="bookId"></p>
            <p>Book Name: <input  type="text" name="bookName"></p>
            <p>Book Author: <input  type="text" name="bookAuthor"></p>
            <p>Book Publisher: <input  type="text" name="bookPublisher"></p>
            <p>Book Price: <input  type="number" name="bookPrice"></p>
            <p>Number of copies Available: <input  type="number" name="bookCount"></p>
            <p>Book cover: <input  type="file" name="bookCover"></p>
        <input type="submit" value="Add">
        </form>
    </div>    
</body>
</html>