<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Book id</th>
            <th>Name</th>
            <th>Author</th>
            <th>Price</th>
            <th></th>
        </tr>
        <% for(var i=0;i<data.length; i++){ %>
            <tr>
                    <td><%=data[i].bookId%></td>
                    <td><%=data[i].bookName%></td>
                    <td><%=data[i].author%></td>
                    <td><%=data[i].price%></td>
                    <td><input type="button" value="Add to cart"/> </td>
            </tr>
        <% } %>
    </table>
</body>
</html>