<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul></ul>
    <li><a href="/employee/new">New Employee</a></li>
    <li><a href="/employee/edit">Edit Employee</a></li>
    <li><a href="/employee/view">VIew </a></li>
    <li><a href="/employee/delete">Delete</a></li>
</body>
</html>