<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
    <li><a href="/product/scanner/new">New</a></li>
    <li><a href="/product/printer/edit">Edit</a></li>
    <li><a href="/product/scanner/view">View</a></li>
    <li><a href="/product/printer/delete">Delerte</a></li>
</ul>
</body>
</html>